@import-normalize;

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --white: #FFF;
  --black: #1a1a1a;
  --blue: #2688eb;
  --red: #ff3044;
  --darkGray: #949494;
  --lightGray: #efefef;

  --text0: 6vw;
  --text1: 10vw;
  --text2: 6vw;
  --text3: 2vw;

  --margin1: 4vw;
  --margin2: 2vw;
  --margin3: 20vw;
  
  --sizePreloader: 20vw;
  --logoSize: 15vw;
  --iconSize: 8vw;
  --imgLarge: 50vw;



  --shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

body {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  transition:all 0.2s ease-in-out;
}

.blur {
    filter:blur(10px);
    transition:all 0.2s ease-in-out;
    overflow:hidden;

    &::after {
      position: absolute;
      width: 100%;
      height: 100%;
      content: '';
      top: 0;
      left: 0;
      background:var(--darkGray);
      opacity: 0.8;
    }
}

.hidden {
  opacity: 0;
}