.loading {
    justify-content: center;
    background: var(--lightGray);

    p {
        font-size: var(--text2);
        text-align: center;
        color: var(--black);
        margin-top: var(--margin2)
    }
}
